.vs
.vscode
bin
obj
*.db
.idea/

appsettings.json
appsettings.Development.json

Solen.sln.DotSettings.user
Src/Main/Solen/Resources/Images/*
!Src/Main/Solen/Resources/Images/.keep
Src/Main/Solen/Resources/Videos/*
!Src/Main/Solen/Resources/Videos/.keep
Src/Main/Solen/Resources/Raw/*
!Src/Main/Solen/Resources/Raw/.keep

*.feature.cs
